$osn_color: #2b2f42 ;
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/*header*/
header {
  display: grid;
  background: #2b2f42;
  width: 100%;
  position: fixed;
  z-index: 101;


  .header_title {
  color: white;
    font-size: 400%;
  padding-left: 40px;
  }

  .header_content {
     display: grid;
    p{
      color: white;
      font-family: 'Oswald', sans-serif;
      margin-top: 30px;
    }
    .basket{
      width: 60%;
      margin-left: 15px;
    }
    .start_section {
      border: 1px solid white;
      border-radius: 8px;

    }
  }
}

/*main*/
/*Название секциий*/
.section_title {
  color: $osn_color;
  font-family: 'Oswald', sans-serif;
  font-weight: 900;
  font-size: 400%;
}
/*footer*/
footer {
    background: $osn_color ;
    width: 100%;
    .footer_content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      .all_soc {
        padding: 20px;
        display: grid;
        grid-auto-rows: 1fr 1fr;
        .soc {
          display: grid;
          grid-template-columns: 1fr 1fr;
          .icon {
            width: 40px;
          }
          .link {
            color: white;
            margin-left: -80%;
            margin-top: 10px;
          }
        }
      }
      .pay {
        width: 200px;
        padding: 20px;
        padding-top: 50px;
      }
                  }
  /*Я*/
  .author {
    color: white;
    font-size: 15px;
    font-family: 'Dancing Script', cursive;
    padding: 5px;
  }
}





