@charset "UTF-8";
/* - черту от ступы по умолчанию в chrome*/
* {
    margin: 0;
    padding: 0;
}

/*и подчеркивания тоже*/
a {
    text-decoration: none;
}

/*header*/
header {
    position: fixed;
    z-index: 101;
}

header .header_title {
    color: white;
    font-size: 40px;
    padding-top: 25px;
    padding-left: 40px;
}

header .header_content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

header .header_content p {
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-top: 30px;
}

header .header_content .start_section {
    border: 1px solid white;
    border-radius: 8px;
}

header .header_mail .header_mail_border {
    background: white;
    width: 1px;
    height: 100%;
}

header .header_mail .mail {
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    margin-top: 36px;
}

/*main*/
/*Главная*/
.start_title {
    margin-left: 160px;
    margin-top: 300px;
    color: #2b2f42;
    font-size: 30px;
    position: absolute;
    z-index: 100;
    font-family: 'Oswald', sans-serif;
}

.background_img_1 {
    width: 100%;
    opacity: 0.5;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80) black;
    -khtml-opacity: 0.8;
    background-color: #000;
}

/*Название секциий*/
.section_title {
    color: #2b2f42;
    font-family: 'Dancing Script', cursive;
}

/*О нас*/
.about_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about_info .txt_about {
    background: #2b2f42;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 20px;
}

.about_info .txt_about p {
    padding: 20px;
}

.about_info .img_about {
    width: 100%;
}

/*Товары*/
.product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.product .card {
    border: 2px solid #2b2f42;
    margin: 10px;
}

.product .card .card_img {
    width: 100%;
}

.product .card .card_txt {
    padding: 5px;
    background: #2b2f42;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.product .card .card_title {
    font-size: 200%;
}

.product .card .card_description {
    color: #cdcdcd;
}

/*footer*/
footer {
    background: #2b2f42;
    width: 100%;
    /*Я*/;
}

footer .footer_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer .footer_content .all_soc {
    padding: 20px;
    display: grid;
    grid-auto-rows: 1fr 1fr;
}

footer .footer_content .all_soc .soc {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer .footer_content .all_soc .soc .icon {
    width: 40px;
}

footer .footer_content .all_soc .soc .link {
    color: white;
    margin-left: -80%;
    margin-top: 10px;
}

footer .footer_content .pay {
    width: 200px;
    padding: 20px;
    padding-top: 50px;
}

footer .author {
    color: white;
    font-size: 15px;
    font-family: 'Dancing Script', cursive;
    padding: 5px;
}