/*Вертска для телефонов */

@media screen and  (min-width: 320px) {
    header {
        grid-template-columns: 1fr;
    }
    .header_content{
        grid-template-columns: 145px 125px 138px 164px 100px 200px;
    }
    .header_title{
        padding-top: 20px;
    }
    .header_content p{
        margin-left: 20px;
        padding: 20px;
        font-size: 180%;
    }
    .basket{
        margin-top: 45px;
    }
    .lang{
        margin-top: 45px;
    }
    .link {
        margin-left: -60%;
    }
}
/*Верстка под планшеты*/

@media  screen and  (min-width: 1024px) {
    header {
        grid-template-columns: 1fr 1fr;
    }
    .header_content{
        grid-template-columns: 135px 120px 125px 155px 100px 140px;
    }
    .header_title{
        padding-top: 20px;
    }
    .header_content p{
        font-size: 160%;
    }
    .basket{
        margin-top: 45px;
    }
    .lang{
        margin-top: 45px;
    }
    .link {
        margin-left: -80%;
    }
}
/*Верстка под компы*/

@media  screen and  (min-width: 1440px) {
    header {
        grid-template-columns: 0.5fr 2fr 1fr;
    }
    .header_content{
        grid-template-columns: 225px 180px 215px 242px 100px 200px;
    }
    .header_title{
        padding-top: 40px;
    }
    .header_content p{
        font-size: 340%;
    }
    .basket{
        margin-top: 75px;
    }
    .lang{
        margin-top: 75px;
    }
    .link {
        margin-left: -80%;
    }
}
/* Верстка под 4k мониторы*/

@media  screen and  (min-width: 2560px) {
    header {
        grid-template-columns: 0.5fr 2fr 1fr;
    }
    .header_content{
        grid-template-columns: 225px 180px 215px 242px 100px 200px;
    }
    .header_title{
        padding-top: 40px;
    }
    .header_content p{
        font-size: 340%;
    }
    .basket{
        margin-top: 75px;
    }
    .lang{
        margin-top: 75px;
    }
    .link {
        margin-left: -80%;
    }
}