@charset "UTF-8";
/*Главная*/
.start_title {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-top: 300px;
    color: #2b2f42;
    position: absolute;
    z-index: 100;
    font-family: "Oswald", sans-serif;
    font-weight: 900;
}

.background_img_1 {
    width: 100%;
}
.YandexCard {
    width:100%;
    margin-top:20px;
    margin-bottom:20px;
}
.Video{
    margin-left: calc((100% - 925px) / 2);
}