@charset "UTF-8";
/*О нас*/
.about_info {
    display: grid;
}
.about_info .txt_about {
    background: #2b2f42;
    font-family: "Oswald", sans-serif;
    color: white;
}
.about_info .txt_about p {
    padding: 20px;
}
.about_info .img_about {
    width: 100%;
}